html {
    --text: #00fff7;
    --background: #000000;
    --primary: #002dd1;
    --secondary: #00aaff;
    --accent: #1ce154;
}

body {
    background-color: var(--background);
    color: var(--text);
}

h1 {
    color: var(--secondary);
    font-family: "Kenia";
    text-shadow: 1px .5px 3px var(--accent);
    font-size: 50px;
    margin: 10px;
    min-width: 200px;

}

a {
    color: var(--accent);
    font-family: "Kenia";
    text-shadow: 1px 1p 3px rgb(4, 253, 241);
    border: 5px solid indianred;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 3px;
    padding-bottom: 3px;


}


.flex {
    display: flex;
    align-items: center;
    align-Items: space-around;
    flex-wrap: wrap;
    border: 5px solid #24f1b4;
    padding-bottom: 10px;


}