html {
    --text: #00fff7;
    --background: #000000;
    --primary: #002dd1;
    --secondary: #00aaff;
    --accent: #1ce154;
}

body {
    background-color: var(--background);
    color: var(--text)
}

h1 {
    color: var(--secondary);
    font-family: "Kenia";
    text-shadow: 1px .5px 3px var(--accent);
    font-size: 50px;
    margin: 10px
}


.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: space-around;
    min-width: 500px;
    border: 5px solid #24f1b4;
    padding-bottom: 10px;
}

img {
    padding: 4px;
    border: 4px solid var(--accent);
    border-radius: 16px;
    background: var(--secondary)
}

p {
    font-family: "Audiowide";
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline overline rgb(143, 22, 241)
}


a {
    color: var(--text);
    border: 2px solid indianred;
    font-family: "Kenia";
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.black {
    color: black;
    text-decoration: underline overline black;
}

h2 {
    color: #00ffd5;
    text-shadow: 2px 1px 3px white
}

.describe {
    display: flex;
    text-decoration: underline overline black;
    /* flex-wrap: wrap; */
}