html {
    --text: #00fff7;
    --background: #000000;
    --primary: #002dd1;
    --secondary: #00aaff;
    --accent: #1ce154;
}

body {
    background-color: var(--background);
    color: var(--text)
}

h1 {
    color: var(--secondary);
    font-family: "Kenia";
    text-shadow: 1px .5px 3px var(--accent);
    font-size: 50px;
    margin: 10px
}


.flex {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: space-around;
    min-width: 500px;
    border: 5px solid #24f1b4;
    padding-bottom: 10px;
}

.website {
    color: var(--text);
    padding: 0px;
    border: 0px;
    font-size: 20px;
}

img {
    padding: 4px;
    border: 4px solid var(--accent);
    border-radius: 16px;
    background: var(--secondary)
}

p {
    font-family: "Audiowide";
    font-style: italic;
    font-weight: bolder;

}


a {
    color: var(--text);
    border: 4px solid indianred;
    font-family: "Kenia";
    font-size: 30px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
}


#purple {
    text-decoration: underline rgb(143, 22, 241);
}

h2 {
    color: #00ffd5;
    text-shadow: 2px 1px 3px white;
}

.describe {
    display: flex;
    text-decoration: underline overline black;
    /* flex-wrap: wrap; */
}

/* Define the animation */
@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Apply the animation and link it to the scroll timeline */
img{
    animation: fade-in linear forwards 1s;
    animation-timeline: view();
    /* Links animation to the element's visibility in the viewport */
    animation-range: entry 0% cover 50%;
    /* Starts at the entry point, ends when 50% covered */
}

nav {
    position: sticky;
    top: 12px;
    z-index: 2;
    background-color: black;
}