html{
    --text: #00fff7;
--background: #000000;
--primary: #002dd1;
--secondary: #00aaff;
--accent: #1ce154;
}

body{
   background-color: var(--background);
   color: var(--text)
}

h1 {
    color: var(--primary);
    font-family: kenia;
}

.glow{
    color: var(--secondary);
    font-family: audiowide;

}
